*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	font-family: "Nunito";
	margin: 0px;
	font-size: 15px;
}
/* Botões */
#logo .btn-primary, #intro .btn-primary, #main .btn-primary{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 50px;
}
#logo .btn-primary, #intro .btn-primary, #main .btn-primary{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#logo .btn-primary:hover, #intro .btn-primary:hover, #main .btn-primary:hover{
    background-color: #FFBD4A;
    color: #000000;
    box-shadow: 10px;
}
#main .btn-primary{
	text-align: center;
}
/* Menu de Navegação */
#nav-menu{
	padding: 10px;
    margin: 0px;
    background-color: rgba(255, 189, 74, 0.3);

}
#nav-menu ul {
    list-style: none;
}
#nav-menu li{ 
	display: inline; 
	padding: 10px;
	width: 100%;
}
#nav-menu a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: #000;
}
#nav-menu li{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#nav-menu li:hover {
	border-bottom: 2px solid #000;
    color: white;
}
/* Banner e Logo */
#header{
	position: relative;
	background: url(../img/bg.jpg) no-repeat bottom center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.inter-logo{
	padding-top: 50px;
	width: 350px;
	height: 120px;
	margin-bottom: 0px;
}
#logo a{
	margin-top: 0px;
	padding: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13pt;
	color: #FFBD4A;
	padding-bottom: 50px;
}
#logo a h3{
	margin: 0px;;
}
#logo h4{
	color: #FFF;
	font-size: 1.3em;
	text-shadow: 1px 2px #000;
}

/* Introdução e Apresentação */
#intro{
	text-align: center;
	background-color: #F0F0F0;

}
#intro .title{
	font-size: 30pt;
	margin-top: 0px;
	padding-top: 50px;
	font-weight: bold;
	color: #FFBD4A;
}
#intro .text{
	font-size: 15pt;
	color: #777;
	padding-bottom: 50px;
	margin: 0px;
	padding-left: 50px; 
	padding-right: 50px;
}
#ident{
	border: 2px solid #000;
}
.basic-1{
	width: 250px;
	float: left;
}
.basic-2{
	width: 250px;
	margin: 0px auto;
}
.basic-3{
	width: 250px;
	float: right;
	margin-left: 0px;
	margin-right: 0px;
}
/* Cadastro */
#logo h1{
	text-transform: uppercase;
	font-size: 25pt;
	color: #FFBD4A;
}
#byline{

}
fieldset{
	width: 40%; 
	margin: 0px auto;
}
#btn-form{ text-align: center; }
button{
	text-align: center;
}
/* Footer */
.tweet{
	background: 
}